h1 {
    text-align: justify;
    font-size: 50;
}

img {
    width: 20%;
    height: 10%;
    padding: 0%;
}

body {
    background-color: darkgray;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    color: green;
    width: 20%;
    height: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 50%;
}
